html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: relative;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
}

.text {
  position: absolute;
  top: 8px;
  left: 60px;
  padding: 20px;
  width: 42rem;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

.fade-in-image {
  opacity: 0;
}

.faded-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;

}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}